@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$darkGrey: #232425;
$darkestGrey: #171819;
$lightGrey: #393a3b;
$lightestGrey: #8d9192;
$blue: #2c87fe;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: $darkestGrey;
}

.profile-header {
  width: 100vw;
  height: 85vh;
  background-color: $darkGrey;
  display: flex;
  align-items: center;
  //   justify-content: center;
  flex-direction: column;
  .profile-cover {
    width: 80vw;
    height: 60vh;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;

    background-image: url("../assets/cover.png");
    background-size: cover;

    .profile-photo {
      position: absolute;
      left: 50%;
      bottom: -20px;
      transform: translateX(-50%);
      img {
        border-radius: 50%;
        border: 5px solid $darkGrey;
        object-fit: cover;
      }
    }
  }
  .profile-description {
    margin-top: 30px;
    width: 75vw;

    color: #f9f9f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #393a3b;
    padding-bottom: 10px;
    h1 {
      font-weight: 500;
    }
    .bio {
      color: $lightestGrey;
    }
  }
  .profile-tools {
    width: 75vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .left-options {
      ul {
        display: flex;
        li {
          height: 9vh;
          display: flex;
          justify-content: center;
          align-items: center;
          list-style: none;
          padding: 0 15px;
          color: $lightestGrey;
          font-weight: 600;
          cursor: pointer;
          &:hover {
            border-bottom: 5px solid $blue;
            color: $blue;
          }
        }
      }
    }
    .right-options {
      button {
        border: none;
        background-color: $lightGrey;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        font-size: 1em;
        font-weight: 500;
        color: white;
      }
      .edit {
        background-color: $blue;
      }
    }
  }
}
